absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
cffi==2.0.0
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
fastapi==0.128.0
flatbuffers==25.12.19
fonttools==4.61.1
h11==0.16.0
idna==3.11
kiwisolver==1.4.9
matplotlib==3.10.8
mediapipe==0.10.32
numpy==2.4.1
opencv-contrib-python==4.13.0.90
opencv-python-headless==4.13.0.90
packaging==26.0
pillow==12.1.0
protobuf==6.33.5
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
six==1.17.0
sounddevice==0.5.5
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
